$font-size: 16px;
$font-size-sm: 14px;
$font-famile: "Roboto", sans-serif;


$color-black: #000000;
$color-secondary: #727272;
$color-gray-light: #eeeff1;
$color-white: #ffffff;
$color-primary: #e9a11a;




$letter-spacing: 0.1rem;
$line-height-normal: 1.2;
$line-height-large: 1.65;
$container-primary: 1110px;
$gap: 20px;
$gap-lg: calc($gap * 2);
$gap-sm: calc($gap * 0.5);